.ProductCard{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  padding-top: 30px; 
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgb(113, 113, 113);
  text-align: center;
  width: 90%;
}
.text{
  font-size: 7px;
  font-weight: bold;
  color: #000;
}
.ProductCard_infoServiceList--pricing--timer{
  max-width: 50px;
  max-height: 50px;
}
.ProductCard_containerImageService{
 
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
}
.ProductCard_containerImageService--image{
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  width: 100px;
  margin-right: 20;
  align-self: center;
  padding-bottom: 10px;
}
  
.card_tittle{
  padding-top:40px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  width: 50%;
}
.ProductCard_infoServiceList--pricing{
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 20px;
}
.link_action--active{
  margin-top: 20px;
  max-width: 100px;
  min-width: 100px;
  height: 40px;
  background-color: #00a8ff;
  border-radius: 10px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  border-color: #fff;
}
.link_action--unactive{
  margin-top: 20px;
  max-width: 100px;
  min-width: 100px;
  height: 40px;
  background-color: #000000;
  border-radius: 10px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}