
.main_products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    margin: 80px;
}

.search_bar{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}