.Header_Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 60px;
    background-color: #00a8ff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    border: 2.4px solid #000000;
}
.Header_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}
.Header_nav--item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 10%;
}